<h1>Stage Name: <%= @stage.name %></h1>

<% if @stage.artists.any? %>
  <ul>
    <% @stage.artists.each do |artist| %>
      <li><a href="/artist/<%= artist.id %>"><%= artist.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no artists to display.</p>
<% end %>

<a href="/stages/<%= @stage.id %>/artist">Add a new artist</a>

<p><a href="/stages/<%= @stage.id %>/edit">Edit stage</a></p>
<a href="/">Return to stage list</a>
